In [52]:
import pandas as pd

1.Merge

In [77]:
#?pd.DataFrame.merge()

In [80]:
left = pd.DataFrame({'key1': ['foo', 'bar'], 'lval': [1, 2]},index=["foo","bar"])
left

    key1  lval
foo  foo     1
bar  bar     2

In [61]:
right = pd.DataFrame({'key2': ['foo', 'bar',"goo"], 'rval': [5, 4, 6]})
right

  key2  rval
0  foo     5
1  bar     4
2  goo     6

Merge Method 1

“key” usually represent the base column

"Key" columns can be different columns

In [87]:
#pd.merge(left,right,left_on="key1",right_on="key2",how="outer")#can merge two DataFrames based on different column names

In [90]:
pd.merge(left,right,left_index=True,right_on="key2",how="outer")

  key1  lval key2  rval
0  foo   1.0  foo     5
1  bar   2.0  bar     4
2  NaN   NaN  goo     6

In [5]:
#?pd.DataFrame.merge

In [55]:
right = pd.DataFrame({'key1': ['foo', 'bar',"goo"], 'rval': [4, 5, 6]})

Merge Method 2

the key column must be common column

In [7]:
left.merge(right,how="outer",on="key1")#can merge two DataFrames based on same column names

  key1  lval  rval
0  foo   1.0     4
1  bar   2.0     5
2  goo   NaN     6

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

2.Concatenate DataFrame or Series

In [10]:
?pd.concat

In [72]:
Concat_0=pd.concat(axis=1,objs=[left,right],join="outer",keys=["x","y","z"],sort=1)
Concat_0

     x         y
  key1 lval key2 rval
0  foo  1.0  foo    5
1  bar  2.0  bar    4
2  NaN  NaN  goo    6

In [50]:
Concat_0.iloc[1]

key1    bar
key2    NaN
lval      2
rval    NaN
Name: 1, dtype: object

In [23]:
Concat_0.loc["x"]

  key1  lval  rval
0  foo   1.0   NaN
1  bar   2.0   NaN

Method2:Concatenate by .append()

In [47]:
Concat_1=left.append(right,sort=1,ignore_index=1)
Concat_1

  key1 key2  lval  rval
0  foo  NaN   1.0   NaN
1  bar  NaN   2.0   NaN
2  NaN  foo   NaN   5.0
3  NaN  bar   NaN   4.0
4  NaN  goo   NaN   6.0

--------------------------------------------------------------------------------------------------------------

3.Joining

combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame

In [85]:
Join=left.join(right,how="outer")
Join

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3755: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

    key1  lval key2  rval
foo  foo   1.0  NaN   NaN
bar  bar   2.0  NaN   NaN
0    NaN   NaN  foo   5.0
1    NaN   NaN  bar   4.0
2    NaN   NaN  goo   6.0

In [86]:
#?pd.DataFrame.join()